@font-face {
    font-family: 'TitilliumText22L-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('./../font/TitilliumText22L003.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'TitilliumText22L-XBold';
    font-style: normal;
    font-weight: normal;
    src: url('./../font/TitilliumText22L006.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'TitilliumText22L-Thin';
    font-style: normal;
    font-weight: normal;
    src: url('./../font/TitilliumText22L001.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'TitilliumText22L-Light';
    font-style: normal;
    font-weight: normal;
    src: url('./../font/TitilliumText22L002.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'TitilliumText22L-Medium';
    font-style: normal;
    font-weight: normal;
    src: url('./../font/TitilliumText22L004.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'TitilliumText22L-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('./../font/TitilliumText22L005.woff') format('woff');
    }
    html, body,figure, header{
        margin: 0;
        padding: 0;
    }

    .wrapper{
        box-sizing: border-box;
        width: 100%;
        height: 100vh;
        background-image: url('../img/background.jpg');
        background-size: cover;
    }
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 55px;
    }
    .header__company-logo,
    .header__company-name{
        opacity: 0.35;
        max-width: 100%;
    }
    .header__company-logo{
        margin-right: 24px;
        max-height: 111px;
    }
    .header__company-name{
        max-height: 78px;
    }
    .main{
        margin-top: 25px;
    }
    .register__form__title{
        font-family: 'TitilliumText22L-Light';
        font-size: 32px;
        color: #ffffff;
        text-shadow: 2px 2px #000000;
        margin-bottom: 18px;
    }
    

    @media (min-width: 768px) {
        .main__content{
            display: flex;
        }
        .main__content__left,
        .main__content__right{
            display: flex;
            justify-content: center;
            width: 50%;
            
        }
      }
