@font-face {
    font-family: 'TitilliumText22L-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('./../font/TitilliumText22L003.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'TitilliumText22L-XBold';
    font-style: normal;
    font-weight: normal;
    src: url('./../font/TitilliumText22L006.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'TitilliumText22L-Thin';
    font-style: normal;
    font-weight: normal;
    src: url('./../font/TitilliumText22L001.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'TitilliumText22L-Light';
    font-style: normal;
    font-weight: normal;
    src: url('./../font/TitilliumText22L002.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'TitilliumText22L-Medium';
    font-style: normal;
    font-weight: normal;
    src: url('./../font/TitilliumText22L004.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'TitilliumText22L-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('./../font/TitilliumText22L005.woff') format('woff');
    }