@font-face {
  font-family: "TitilliumText22L-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./../font/TitilliumText22L003.woff") format("woff");
}

@font-face {
  font-family: "TitilliumText22L-XBold";
  font-style: normal;
  font-weight: normal;
  src: url("./../font/TitilliumText22L006.woff") format("woff");
}

@font-face {
  font-family: "TitilliumText22L-Thin";
  font-style: normal;
  font-weight: normal;
  src: url("./../font/TitilliumText22L001.woff") format("woff");
}

@font-face {
  font-family: "TitilliumText22L-Light";
  font-style: normal;
  font-weight: normal;
  src: url("./../font/TitilliumText22L002.woff") format("woff");
}

@font-face {
  font-family: "TitilliumText22L-Medium";
  font-style: normal;
  font-weight: normal;
  src: url("./../font/TitilliumText22L004.woff") format("woff");
}

@font-face {
  font-family: "TitilliumText22L-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("./../font/TitilliumText22L005.woff") format("woff");
}
:root {
  --primary-color: #afafaf;
  --secondary-color: #dedede;
  --third-color: #c6c6c6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "TitilliumText22L-Regular";
  background-image: url("../img/background.jpg");
  background-size: cover;
}

/* This remove autocomplete bg color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}
input:-webkit-autofill {
  -webkit-text-fill-color: var(--primary-color) !important;
}

.wrapper {
  box-sizing: border-box;
}
.header {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 55px;
}
.header__company {
  box-sizing: border-box;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
}
.header__company__logo {
  max-width: 30%;
}
.header__company__name {
  max-width: 50%;
  margin-left: 2.6%;
}
.main__content {
  padding: 0 10px;
}

.form__title > h2 {
  display: flex;
  justify-content: center;
  font-family: "TitilliumText22L-Light";
  font-size: 32px;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  margin-bottom: 18px;
}
.form__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
  border-radius: 5px;
}
.form__container__content {
  position: relative;
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
  margin: 15px;
  z-index: 1;
}
.form__container__bg {
  position: absolute;
  top: 0;
  background-color: #000000;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  opacity: 0.3;
}
/* Media Quereis */

@media (min-width: 578px) {
  .header__company__logo {
    max-width: 112px;
  }
  .header__company__name {
    max-width: 293px;
    margin-left: 24px;
  }
  .form {
    max-width: 420px;
  }
  .form__container {
    width: 420px;
  }
  .form__container__content{
    max-width: 382px;
    max-height: 420px;
    margin: 20px;
  }
}

/* Animations */
